{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
<div class="container">
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <h1 class="text-center">Register</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary" type="submit">
        register
    </button>
    {{ form_end(form) }}
</div>
{% endblock %}