{% extends 'base.html.twig' %}

{% block title %}New Command{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Command</h1>
        {{ include('command/_form.html.twig') }}
    </div>
{% endblock %}